<!DOCTYPE html>
<html class="has-background-light" lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <Title>Home</Title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.min.css') }}">
    </head>

    <body>
        <navbar>
            <nav class="navbar is-link" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <div class="navbar-item">
                        <h4 class="title is-4 has-text-white">
                            SBP-SUS
                        </h4>
                    </div>

                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                        data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item" href="http://127.0.0.1:5000/">
                            Home
                        </a>
                        <a class="navbar-item" href="http://127.0.0.1:5000/listas">
                            Listas
                        </a>
                    </div>
                </div>
            </nav>
        </navbar>

        <div class="container m-4" id="animation">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-12">
                    {% block home %} {% endblock %}
                    {% block listas %}{% endblock %}
                </div>
            </div>
        </div>



        <script src="{{url_for('static', filename='effects.js')}}"></script>
    </body>

</html>