<!DOCTYPE html>
<html class="has-background-light" lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <Title>Home</Title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.min.css') }}">
    </head>

    <body>
        <navbar>
            <nav class="navbar is-link" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <div class="navbar-item">
                        <h4 class="title is-4 has-text-white">
                            SBP-SUS
                        </h4>
                    </div>

                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                        data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="navbarBasicExample" class="navbar-menu">

                    {% if pagename == "consulta" %}
                    <div class="navbar-start">
                        <div class="navbar-item has-background-info">
                            <div class="field is-horizontal mt-1">
                                <label class="label has-text-white is-hidden-mobile mt-1 mr-3">Consultar
                                    Paciente</label>
                                <div class="control">
                                    <input class="input is-small" type="text" onkeyup="Consultar(event)"
                                        placeholder="Matricula SUS" maxlength="6" style="width: 100px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="navbar-end">
                        <a class="navbar-item" href="{{url_for('Consulta')}}">
                            Consultar
                        </a>
                        <a class="navbar-item" href="{{url_for('Listas')}}">
                            Listas
                        </a>
                    </div>
                </div>
            </nav>
        </navbar>

        <div class="container m-4" id="animation">

            {% block consulta %} {% endblock %}

            <div class="tile is-ancestor">
                <div class="tile is-vertical is-12">
                    {% block listas %}{% endblock %}
                </div>
            </div>
        </div>



        <script src="{{url_for('static', filename='effects.js')}}"></script>
    </body>

</html>