<!DOCTYPE html>
<html class="has-background-light" lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <Title>Home</Title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.min.css') }}">
    </head>

    <body>
        <navbar class="ng-scope">
            <nav class="navbar is-link" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <div class="navbar-item">
                        <h4 class="title is-4 has-text-white">
                            SBP-SUS
                        </h4>
                    </div>
                </div>
            </nav>
        </navbar>

        <div class="container m-4" id="animation">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-12">

                    {% block pacientes %}{% endblock %}

                </div>
            </div>
        </div>



        <script src="{{url_for('static', filename='effects.js')}}"></script>
    </body>

</html>